.appContent {
    display: flex;
    padding: 3em;
    color: rgba(0, 0, 0, 0.74);
}
.appImg {
    margin-right: 1em;
}
.appImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    border: 1px solid #e6e6e6;
    border-radius: 15px;
}
.appText {
    text-align: start;
}
.appText h3 {
    font-weight: 700;
}
.appText p {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    /* width: 200px; */
}

#overrideCarousel .ant-carousel .slick-dots li.slick-active button {
    background-color: gray;
}

#overrideCarousel .ant-carousel .slick-dots li button {
    background-color: rgb(148, 144, 144);
}
#overrideCarousel .ant-layout.ant-layout-has-sider {
    padding: 8em;
}
#overrideCarousel .ant-carousel .slick-dots-bottom {
    bottom: -50px;
}

#overrideCarousel .ant-layout-sider {
    min-width: 375px !important;
}