.appContent {
    display: flex;
    padding: 3em;
    color: rgba(0, 0, 0, 0.74);
}
.appImg {
    margin-right: 1em;
}
.appImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    border: 1px solid #e6e6e6;
    border-radius: 15px;
}
.appText {
    text-align: start;
}
.appText h3 {
    font-weight: 700;
}
.appText p {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    /* width: 200px; */
}
#layout .ant-layout {
    background-color: white;
}
#layout .ant-layout-content {
   margin: 0 30px; 
}
#popularApps .ant-carousel .slick-dots li.slick-active button {
    background-color: gray;
}

#popularApps .ant-carousel .slick-dots li button {
    background-color: rgb(148, 144, 144);
}
#layout .ant-layout.ant-layout-has-sider {
    padding: 6em;
}
#popularApps .ant-carousel .slick-dots-bottom{
    bottom: 65px;
}

#layout .ant-layout-sider {
    min-width: 375px !important;
}

#popularApps .ant-carousel .slick-initialized .slick-slide {
    border-bottom: 3px solid #eee6e6;
    padding-bottom: 6em;
}
#overrideFeatured {
    margin-top: 3em;
    border-bottom: 3px solid #eee6e6;
    padding-bottom: 6em;
}
#overrideFeatured .imgWrapper img {
    object-fit: contain;
}

#overrideFeatured .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    height: 120px;
    width: 120px;
    border: 1px solid #E6E6E6;
}

#overrideFeatured .imgContainer {
    position: relative;
}
#overrideFeatured .appContainer {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 190px;
    width: 190px;
    border-radius: 10px;
    background-color: #f2f2f2;
    overflow: hidden;
    margin: 0 auto;
}

#overrideFeatured .badge {
    position: absolute;
    top: -36px;
    right: -28px;
    background-color: #ff4a00;
    color: white;
    width: 190px;
    padding: 2px 20px;
    text-align: center;
    transform: translateY(-100%) rotate(
        90deg) translateX(70.71067811865476%) rotate(
        225deg);
        transform-origin: bottom left;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
}

#overrideFeatured .badgeRed {
    background-color: #ff4a00;
}
#overrideFeatured .badgeGreen {
    background-color: #62d493;
}
#overrideFeatured .badgeYellow {
    background-color: #ffc43e;
}
#overrideFeatured .badgeBlue {
    background-color: #4289f7;
}

#overrideFeatured .title {
    font-size: 14px;
    font-weight: 700;
    color: black;
}

#overrideFeatured .ant-carousel .slick-dots-bottom { 
    bottom: -68px;
}

#overrideFeatured .ant-carousel .slick-dots li.slick-active button {
    background-color: gray;
}

#overrideFeatured .ant-carousel .slick-dots li button {
    background-color: rgb(148, 144, 144);
}
/* #overrideFeatured .ant-col {
    margin: 0 10px;
} */

#allApps .ant-col {
    text-align: center;
}

#allApps .card {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    padding: 1em;
}
#allApps .card .image {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding:  3px;
}

#allApps .card .text {
    padding: 15px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

#allApps .loadMoreBtn {
    display: block;
    width: 100%;
    font-weight: 700;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#allApps .ant-row {
    margin: 3em auto;
}