#popularApps {
    text-align: start;
}
#popularApps .ant-input-affix-wrapper {
    max-width: 480px;
    margin-left: 3em;
    margin-bottom: 50px;
}
.appContent {
    display: flex;
    padding: 3em;
    color: rgba(0, 0, 0, 0.74);
}
.appImg {
    margin-right: 1em;
}
.appImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    border: 1px solid #e6e6e6;
    border-radius: 15px;
}
.appText {
    text-align: start;
}
.appText h3 {
    font-weight: 700;
}
.appText .description {
    font-size: 1rem;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#layout .ant-layout {
    background-color: white;
}
#layout .ant-layout-content {
   margin: 0 30px; 
}
#popularApps .ant-carousel .slick-dots li.slick-active button {
    background-color: gray;
}
#popularApps .ant-carousel .slick-dots li button {
    background-color: rgb(148, 144, 144);
}
#layout .ant-layout.ant-layout-has-sider {
    padding: 6em;
}
#popularApps .ant-carousel .slick-dots-bottom{
    bottom: 35px;
}
#layout .ant-layout-sider {
    min-width: 375px !important;
}
#popularApps .ant-carousel .slick-initialized .slick-slide {
    border-bottom: 3px solid #eee6e6;
    padding-bottom: 4em;
}
#overrideFeatured {
    margin-top: 3em;
    border-bottom: 3px solid #eee6e6;
    padding-bottom: 6em;
}
#overrideFeatured .imgWrapper img {
    object-fit: contain;
}
#overrideFeatured .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    height: 120px;
    width: 120px;
    border: 1px solid #E6E6E6;
}
#overrideFeatured .imgContainer {
    position: relative;
}
#overrideFeatured .appContainer {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 190px;
    width: 190px;
    border-radius: 10px;
    background-color: #f2f2f2;
    overflow: hidden;
    margin: 0 auto;
}
#overrideFeatured .badge {
    position: absolute;
    top: -36px;
    right: -28px;
    background-color: #ff4a00;
    color: white;
    width: 190px;
    padding: 2px 20px;
    text-align: center;
    transform: translateY(-100%) rotate(
        90deg) translateX(70.71067811865476%) rotate(
        225deg);
        transform-origin: bottom left;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
}
#overrideFeatured .badgeRed {
    background-color: #ff4a00;
}
#overrideFeatured .badgeGreen {
    background-color: #62d493;
}
#overrideFeatured .badgeYellow {
    background-color: #ffc43e;
}
#overrideFeatured .badgeBlue {
    background-color: #4289f7;
}
#overrideFeatured .title {
    font-size: 14px;
    font-weight: 700;
    color: black;
}
#overrideFeatured .ant-carousel .slick-dots-bottom { 
    bottom: -68px;
}
#overrideFeatured .ant-carousel .slick-dots li.slick-active button {
    background-color: gray;
}

#overrideFeatured .ant-carousel .slick-dots li button {
    background-color: rgb(148, 144, 144);
}
#allApps .ant-col {
    text-align: center;
}
#allApps .card {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    padding: 1em;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}
#allApps .card:hover {
    box-shadow: 0px 5px 8px 2px #d5d4d4;
}
#allApps .card .image {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding:  3px;
}
#allApps .card .text {
    padding: 15px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: black;
}
#allApps .loadMoreBtn {
    display: block;
    width: 100%;
    font-weight: 700;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#allApps .ant-row {
    margin: 3em auto;
}
.welcomeContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.miniLogo {
   fill: #ff4a00;
   height: 40px;
   width: 40px;
   display: inline-block;
   vertical-align: middle;
}
.welcomeText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.welcomeText h1 {
    margin-bottom: 0;
    font-weight: 700;
}
#dashboard .card {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 40px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}
.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.para {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2em;
}

/* Dashboard */
#dashboard {
    padding: 0 40px;
    margin-top: 6em;
}
.make-a-zap {
    display: flex;
    align-items: center; 
    flex-flow: row nowrap;
}
.inputGroup {
    width: 100%;
    z-index: 9999;
}
.search { 
    position: relative; 
    margin: 0 auto ;
    text-align: center;
}
.search input { 
    height: 50px;
    width: 100%;
}
.search .searchIcon { 
    position: absolute;
    top: 3px;
    left: 44%;
}
.label {
    text-align: left; 
    font-weight: 700;
    margin-bottom: 10px
}
.iconContainer {
    position: relative;
    margin: 0; padding: 0 10px; 
    display: flex; 
    -webkit-box-pack: center;
    transform: translateY(17px); 
    justify-content: center; 
    width: auto;
}
.iconContainer::before {
    height: 3px;
    width: auto;
    border: none;
    border-top: 3px dotted #cccccc;
    margin: 11px 0 0;
    transform: translateY(50%);
    left: 0;
    right: 0;
    top: auto;
    bottom: auto;
    content: '';
    position: absolute;
    z-index: 0;
}
.plusIconContainer {
    background: white; 
    border-radius: 50%; 
    position: relative; 
    z-index: 1; 
    height: 30; 
    width: 30;
    fill: #cccccc;
}
.plusIconWrapper {
    fill: #cccccc; 
    height: 30; 
    width: 30; 
    display: inline-block;
}
.plusIcon {
    display: block; 
    fill: #cccccc;
}
#dashboard .ant-input-affix-wrapper-lg, #popularApps .ant-input-affix-wrapper-lg, #appConnections .ant-input-affix-wrapper{
    background-color: #f2f2f2;
    border: 0;
    border-radius: 10px;
    height: 50-mdpx;
}
#inputBox {
    background-color: #f2f2f2;
    text-indent: 10px;
}
#dashboard .listTitle {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin: 40px 0 20px 0;
}
#dashboard .list {
    padding-left: 0;
}
#dashboard .listItem {
    margin-bottom: 5px;
    list-style-type: none;
    border: 1px solid transparent;
    border-radius: 12px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}
#dashboard .listItem:hover {
    border: 1px solid #d5d4d4;
    box-shadow: 0px 5px 8px 2px #d5d4d4;
}
#dashboard .listItemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}
#dashboard .listItemContent {
    display: flex;
    align-items: center;
}
#dashboard .images {
    margin-right: 20px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
}
#dashboard .imgWrapper, #appConnections .imgWrapper{
    margin-right: -1px;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
#dashboard .first {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#dashboard .second {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#dashboard .imgWrapper img {
    height: 28px;
    width: 28px;
}
#dashboard .listItemText {
    text-align: left;
}
#dashboard .listItemTitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
#dashboard .listItemPara {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin-bottom: 0;
}
#dashboard .tryLink {
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    height: 40px;
    border-radius: 10px;
    background-color: #F2F2F2;
}

#appConnections {
    padding: 29px 40px;
}
#appConnections .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#appConnections .title {
    font-size: 32px;
    font-weight: 700;
}
#appConnections .searchContainer {
    display: flex;
    align-items: center;
}
#appConnections .searchInput {
    margin-right: 10px;
    width: 100%;
}
#appConnections .addBtnWrapper {
    width: 100%;
}
#appConnections .addBtn {
    background-color: #136bf5;
    color: white;
    border: none;
    padding: 0 20px;
    height: 40px;
    border-radius: 12px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    font-weight: 700;
    width: 100%;
}
#appConnections .ant-input-affix-wrapper {
    height: 40px;
}
#appConnections .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px 20px;
    transition: all 300ms ease-in-out 0s;
    margin-top: 2em;
}
#appConnections .listItem:hover {
    border: 1px solid #d5d4d4;
    box-shadow: 0px 5px 8px 2px #d5d4d4;
}
#appConnections .listTitleWrapper {
    display: flex;
    align-items: center;
}
#appConnections .listTitle {
    font-weight: 700;
    margin-left: 15px;
}
#appConnections .listDetails {
    display: flex;
    align-items: center;
}
#appConnections .connections {
    margin-right: 60px;
}
#appConnections .count {
    font-weight: 700;
}
#appConnections .imgWrapper img {
    height: 28px;
}
#appConnections .zaps {
    margin-right: 4em;
}
#appConnections .arrowIcon {
    vertical-align: middle;
}
#zaps {
    margin: 2em;
}
#zaps .heading {
    text-align: left;
    font-size: 40px;
    line-height: 45px;
    font-weight: 800;
    letter-spacing: -1px;
}
#zaps .ant-input {
    text-indent: 8px;
} 
#zaps .zaps {
    border-right: 1px solid #e6e6e6;
    padding-right: 30px;
    width: 100%;
}
#zaps .privateFolder {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
#zaps .privateFoldersHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#zaps .title {
    text-transform:uppercase;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #577280;
    margin: 1em 0;
}
#zaps .plusSvg {
    vertical-align: middle;
    background: #eceef1;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 50%;
}
#zaps .privateFolderListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
#zaps .folderLink {
    color: #499df3;
    font-weight: 600;
}
#zaps .folderCount {
    border: 1px solid #499df3;
    color: #499df3;
    padding: 0 15px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
}
#zaps .sharedFolder {
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
}
#zaps .comingSoonTitle {
    color: inherit;
    padding: 0;
    margin: 0.5em 0 0.5em;
    font-weight: 600;
    color: #577280;
}
#zaps .comingSoonContent {
    color: #969ea2;
}
#zaps .trialLink {
    color: #499df3;
}
#zaps .trash {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    font-size: 1.1rem;
}
#zaps .trashLink {
    color: #577280;
}
#zaps .trashCount {
    border: 1px solid #dadfe2;
    color: #969ea2;
    padding: 0 15px;
    font-size: 12px;
    margin: auto 0;
    border-radius: 15px;
}
#zaps .home {
    padding: 2em;
    width: 100%;
}
#zaps .toolbar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#zaps .toolbar .ant-checkbox {
    margin: 0 auto;
}
.dropdownRoot {
    width: 200px;
}
#zaps .selectBox {
    border-radius: 3px;
    padding-right: 55px;
    overflow: auto;
    white-space: pre-wrap;
    height: auto;
    width: 45px;
    line-height: 1.7;
    min-height: 45px;
    padding: 10px;
    margin: 0;
    border: 1px solid #dadfe2;
}
#zaps .ant-switch {
    font-weight: 600;
}
.ant-switch-inner {
    font-size: 10px;
}
#zaps .subHeading {
    text-align: left;
}
#zaps .trashBtn {
    padding: 0.5em 1em;
    background: #f1f4f5;
    opacity: 0.5;    
    margin-left: 1em;
    border: 1px solid #dadfe2;
    border-radius: 4px;
}
#zaps .createBtn {
    color: #fff;
    background-color: #000;
    padding: 0.5em 1em;
    border-radius: 4px;
    margin-left: 1em;
    border: none;
    cursor: pointer;
}
#zaps .zapItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#zaps .zapCheckbox {
    margin-right: 1em;
}
#zaps .selectZap {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dadfe2;
    color: #fff;
    flex: none;
}
#zaps .zap {
    flex: 1;
    min-width: 0;
}
#zaps .dashboardZap {
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}
#zaps .miniZap {
    background: #fff;
    border-radius: 3px;
    margin-top: 0;
    padding: 1em;
    position: relative;
    text-align: left;
    width: 100%;
}
#zaps .zapWrapper {
    table-layout: fixed;
    display: flex;
    align-items: center;
    width: 100%;
}
#zaps .zapLogos {
    vertical-align: middle;
    width: 140px;
    flex: none;
}
#zaps .zapIcons {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    line-height: 1.75em;
}
#zaps .zapIconsStep {
    display: flex;
    align-items: center;
}
#zaps .zapIconWrap {
    color: #5f6c72;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: 1px solid #eee;
    background-color: #f6f6f6;
    border-radius: 4px;
    width: 30px;
    height: 30px;
}
#zaps .zapIcon {
    background-image: url(https://zapier-images.imgix.net/storage/services/54f0bd6f9c31b757ab20d4c7058dc7c0.128x128.png?auto=format%2Ccompress&ixlib=python-3.0.0&q=50);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 60%;
    height: 60%;
    display: inline-block;
    vertical-align: middle;
}
#zaps .caretIcon {
    margin: 0 9px;
    color: #5f6c72;
    width: 7px;
    display: inline-block;
}
#zaps .zapTitle {
    line-height: 1.5em;
    padding: 0 14px;
    flex: 1;
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: .9em;
    font-weight: 600;
    color: #5f6c72;

}
#zaps .zapTitleText {
    vertical-align: middle;
}
#zaps .zapControls {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
}
#zaps .zapToggle {
    position: relative;
    margin-right: 1em;
}
#zaps .ant-dropdown-trigger {
    border: 1px solid #dadfe2;
    border-left: none;
    height: 45px;
}
#zaps .zapDropdown .ant-dropdown-trigger {
    border: none;
}
#zaps .ant-switch {
    background-color: #666666;
}
#zaps .ant-switch-checked {
    background-color: #136bf5;
}
#platformUi .ant-menu-root.ant-menu-inline, #platformUi .appTitle {
    background-color: #f2f2f2;
}
#platformUi .ant-layout {
    background-color: transparent;
}
#platformUi .ant-layout-sider {
    background-color: #f2f2f2;
}
#platformUi .appTitle {
    display: flex;
    padding: 30px 24px;
}
#platformUi .appLogo {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    margin-right: 20px;
}
#platformUi .appName {
    color: #354147;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 600;
    padding: 0 0 0.5em 0;
}
#platformUi .visibility {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    height: 20px;
    color: #333333;
    background-color: white;
    border-radius: 5px;
    padding: 0 15px;
}
#platformUi .publishLink {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background-color: #136bf5;
    width: 100%;
    display: block;
    padding: 10px;
    margin: 0 auto;
    width: 290px;
    border-radius: 10px;
}
#platformUi .publishLink a{
    color: #fff;
}
#platformUi .sidebarHeader {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
}
#platformUi .appSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #cccccc;
}
#platformUi .versionSelect, #platformUi .status {
    margin: 0 8px;
}
#platformUi .versionWrapper {
    border-right: 1px solid #cccccc;;
}

@media screen and (max-width: 974px) {
    #zaps .zaps {
        padding-right: 0;
        border-right: none;
    }
    #zaps .home {
        padding: 0;
    }
}
@media screen and (max-width: 780px) {
    #dashboard .listItemContent {
        flex-direction: column;
        align-items: flex-start;
    }
    #dashboard .listItemText {
        margin-top: 15px;
    }
    #dashboard .listItemWrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    #dashboard .tryLinkWrapper {
        margin-top: 20px;
        align-self: stretch;
    } 
    #dashboard .tryLink {
        width: 100%;
    }
    .make-a-zap {
        flex-direction: column;
    }
    .iconContainer {
        padding: 30px 0;
        margin: -30px 0;
        transform: translateY(17px);
    }
    .iconContainer::before {
        height: 50px;
        border: none;
        border-top: 3px dotted #cccccc;
        margin: -10px 0 0;
        left: -47px;
        transform: rotate(90deg);
        right: 0;
    }
    #appConnections .heading {
        flex-direction: column;
        align-items: flex-start;
    }

    #appConnections .searchContainer {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    #appConnections #inputBox {
        width: 100%;
    }
    #appConnections .addBtn {
        margin-top: 1em;
    }
    #appConnections .listItem {
        flex-direction: column;
        align-items: flex-start;
    }
    #appConnections .countText {
        display: inline;
        margin-left: 8px;
    }
    #appConnections .listDetails {
        margin-top: 10px;
    }
    #zaps .home {
        padding: 0;
    }
    #zaps .zapWrapper {
        display: block;
        text-align: center;
    }
    #zaps .zapLogos {
        margin: 1em auto;
    }
    #zaps .zapDropdown {
        position: absolute;
        right: 3px;
        top: 0;
    }
    #zaps .zapControls {
        justify-content: center;
        align-items: unset;
        background-color: #f8f8f8;
        padding: 1em;
        border-top: 1px solid #ddd;
    }
    #zaps .zapTitle {
        margin-bottom: 1em;
    }
    #zaps .miniZap {
        padding: 0;
    }
        
}