.appContent {
    display: flex;
    padding: 3em;
    color: rgba(0, 0, 0, 0.74);
}
.appImg {
    margin-right: 1em;
}
.appImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    border: 1px solid #e6e6e6;
    border-radius: 15px;
}
.appText {
    text-align: start;
}
.appText h3 {
    font-weight: 700;
}
.appText p {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    /* width: 200px; */
}
#layout .ant-layout {
    background-color: white;
}
#layout .ant-layout-content {
   margin: 0 30px; 
}
#popularApps .ant-carousel .slick-dots li.slick-active button {
    background-color: gray;
}

#popularApps .ant-carousel .slick-dots li button {
    background-color: rgb(148, 144, 144);
}
#layout .ant-layout.ant-layout-has-sider {
    padding: 6em;
}
#popularApps .ant-carousel .slick-dots-bottom{
    bottom: 65px;
}

#layout .ant-layout-sider {
    min-width: 375px !important;
}

#popularApps .ant-carousel .slick-initialized .slick-slide {
    border-bottom: 3px solid #eee6e6;
    padding-bottom: 6em;
}
#overrideFeatured {
    margin-top: 3em;
    border-bottom: 3px solid #eee6e6;
    padding-bottom: 6em;
}
#overrideFeatured .imgWrapper img {
    object-fit: contain;
}

#overrideFeatured .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    height: 120px;
    width: 120px;
    border: 1px solid #E6E6E6;
}

#overrideFeatured .imgContainer {
    position: relative;
}
#overrideFeatured .appContainer {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 190px;
    width: 190px;
    border-radius: 10px;
    background-color: #f2f2f2;
    overflow: hidden;
    margin: 0 auto;
}

#overrideFeatured .badge {
    position: absolute;
    top: -36px;
    right: -28px;
    background-color: #ff4a00;
    color: white;
    width: 190px;
    padding: 2px 20px;
    text-align: center;
    transform: translateY(-100%) rotate(
        90deg) translateX(70.71067811865476%) rotate(
        225deg);
        transform-origin: bottom left;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
}

#overrideFeatured .badgeRed {
    background-color: #ff4a00;
}
#overrideFeatured .badgeGreen {
    background-color: #62d493;
}
#overrideFeatured .badgeYellow {
    background-color: #ffc43e;
}
#overrideFeatured .badgeBlue {
    background-color: #4289f7;
}

#overrideFeatured .title {
    font-size: 14px;
    font-weight: 700;
    color: black;
}

#overrideFeatured .ant-carousel .slick-dots-bottom { 
    bottom: -68px;
}

#overrideFeatured .ant-carousel .slick-dots li.slick-active button {
    background-color: gray;
}

#overrideFeatured .ant-carousel .slick-dots li button {
    background-color: rgb(148, 144, 144);
}
/* #overrideFeatured .ant-col {
    margin: 0 10px;
} */

#allApps .ant-col {
    text-align: center;
}

#allApps .card {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    padding: 1em;
}
#allApps .card .image {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding:  3px;
}

#allApps .card .text {
    padding: 15px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

#allApps .loadMoreBtn {
    display: block;
    width: 100%;
    font-weight: 700;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#allApps .ant-row {
    margin: 3em auto;
}
.welcomeContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniLogo {
   fill: #ff4a00;
   height: 40px;
   width: 40px;
   display: inline-block;
   vertical-align: middle;
}
.welcomeText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.welcomeText h1 {
    margin-bottom: 0;
    font-weight: 700;
}
#dashboard .card {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 40px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}
.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.para {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2em;
}

/* Dashboard */
#dashboard {
    padding: 0 40px;
    margin-top: 6em;
}
.make-a-zap {
    display: flex;
    align-items: center; 
    flex-flow: row nowrap;
}
.inputGroup {
    width: 100%;
}
.search { 
    position: relative; 
    margin: 0 auto ;
    text-align: center;
  }

.search input { 
    height: 50px;
    width: 100%;
}
.search .searchIcon { 
    position: absolute;
    top: 3px;
    left: 44%;
}

.label {
    text-align: left; 
    font-weight: 700;
    margin-bottom: 10px
}

.plusIcon::before {
    height: 3px;
    width: auto;
    border: none;
    border-top: 3px dotted #cccccc;
    margin: 11px 0 0;
    transform: translateY(50%);
    left: 0;
    right: 0;
    top: auto;
    bottom: auto;

    content: '';
    position: absolute;
    z-index: 0;
}

#dashboard .ant-input-affix-wrapper-lg {
    background-color: #f2f2f2;
    border: 0;
    border-radius: 10px;
    height: 50px;
}

#inputBox {
    background-color: #f2f2f2;
    text-indent: 10px;
}

#dashboard .listTitle {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin: 40px 0 20px 0;
}
#dashboard .list {
    padding-left: 0;
}
#dashboard .listItem {
    margin-bottom: 5px;
    list-style-type: none;
    border: 1px solid transparent;
    border-radius: 12px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}
#dashboard .listItem:hover {
    border: 1px solid #d5d4d4;
    box-shadow: 0px 5px 8px 2px #d5d4d4;
}
#dashboard .listItemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}
#dashboard .listItemContent {
    display: flex;
    align-items: center;
}
#dashboard .images {
    margin-right: 20px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
}
#dashboard .imgWrapper{
    margin-right: -1px;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
#dashboard .first {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#dashboard .second {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#dashboard .imgWrapper img {
    height: 28px;
    width: 28px;
}
#dashboard .listItemText {
    text-align: left;
}
#dashboard .listItemTitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
#dashboard .listItemPara {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin-bottom: 0;
}
#dashboard .tryLink {
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    height: 40px;
    border-radius: 10px;
    background-color: #F2F2F2;
}

@media screen and (max-width: 780px) {
    #dashboard .listItemContent {
        flex-direction: column;
        align-items: flex-start;
    }
    #dashboard .listItemText {
        margin-top: 15px;
    }
    #dashboard .listItemWrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    #dashboard .tryLinkWrapper {
        margin-top: 20px;
        align-self: stretch;
    } 
    #dashboard .tryLink {
        width: 100%;
    }
}